
.header
{
	background-color: #C0C0C0;
	min-height: 120px;
	margin-bottom: 10px;
}
.logo
{
   min-height: 30px;
   border:3px solid black;
   width: 25%;
}
.navigation
{
	min-height: 40px;
	background-color: #C0C0C0;
	margin-bottom: 10px; 
}

.banner
{
	background-color: #C0C0C0;
	min-height: 200px;
	margin-bottom: 10px;
}
.about
{
	background-color: white;
	min-height: 300px;

	margin-bottom: 10px;
}
.sb
{
	background-color: #C0C0C0;
	min-height: 295px;
	margin-left: 10px;
	float: left;
	
}
.sidebar
{
	width: 23%;
}
.body_aria
{
	width: 75%;
}
.footer
{
	background-color: #C0C0C0;
	min-height: 100px;
}
